body {
    background-image: url(img/ny.jpg); 
    background-color: rgb(00, 00, 00, 0.8);
    background-blend-mode: multiply;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    color: ghostwhite;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.enlaces {
    text-align: center;
    font-size: 2.4vw;
}
.nav {
    margin: 0vw 2vw;
}
#titulo {
    color: darkred;
    font-size: 4.8vw;
}
#titulo2, h1, h2 {
    font-size: 4vw;
}
h1,h2,form,footer,.center {
    text-align: center;
}
ul {
    margin: 0vw 10vw;
    border: 1px solid darkred;
}
li::marker, #red {
    color: darkred;
}
table {
    font-size: 2vw;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    border: 1px solid darkred;
}
.texto {
    font-size: 2vw;
    margin-left: 10%;
    margin-right: 10%;
}
img {
    width: 80%;
    height: 80%;
    margin-left: 10%;
}
a {
    color: darkred;
    text-decoration: none;
    transition: .2s ease;
}
a:hover {
    font-weight: bold;
    text-decoration: underline;
}